{
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "extends": [
    "guyellis",
    "guyellis/es6",
    "guyellis/react"
  ],
  "parser": "babel-eslint"
}